.NavStyle{
    font-weight: bold;
    letter-spacing: 1px;
}
.NavT{
    margin-right: 190px;
}
.navbar-light .navbar-nav .nav-link {
    color: #343a40;
}
.NavImg img{
    margin-left: 20px;
    margin-top: 40px;
    width: 300px;
    padding-right: 10px;
}
.NavImg{
    display: flex;

}