.FooterLogo {
    height: 220px;
    border-right-style: solid;
    }
.FooterLogo img{
        height: 70px;
        width:70px;
        }
.FooterLogo {
margin-top: 60px;
text-align: center;
 }
.footerMenu{
padding:5px;
margin-bottom: 15px;

}
.footerText {
margin-top: 80px;
text-decoration: none;
}
.footerText a{
    text-decoration: none;
    }
.bgFooter{
    background-color: #005A84;
}
.bgFooter1{
    color: #2A6E8E;
    background-color: #005177;
}
.fontA{
    letter-spacing: 10px;
    color:white;
    font-size: 30px; 
    margin: 10px;
    text-decoration: none;
}
.fontA:hover{
    color:white;
}