.c-img{
    margin-top: 100px;
    height: 620px;
}

.top-txt{
    margin-bottom: 350px;
    margin-right: 530px;    
}
.top-txt1{
    margin-bottom: 350px;
    margin-right: 530px;    
}
.top-txt2{
    margin-bottom: 80px;
    margin-left: 380px;
      
}
@media (max-width:767px) {
    .c-img{
        width: 200px;
        height: 250px;;
    }
    }

