.Truly h1{
    color: #00587C;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 25px;
}

.Truly h3{
    color: #59575B;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 25px;
}
.Truly img{
    margin-bottom: 35px;
}